header{
    color: #69443c;
}
#background{
    background-image: url("images/wallpaper.png");
    height: 768px;
}
.text{
    font-family: Tahoma;
    text-align: center;
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;


}