<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
  <link rel="stylesheet" href="/images/main.css">

</head>
<body>
<article id="background">
  <div class="main-square">
    <div class="frontpage">

      <header class="header" >
        <h2 class="fade-in delay1">About us</h2>
      </header>
      <h2 class="section-title"> 🤎 </h2>
      <h4 class="text">CareTrack was created with a clear mission:<br> help people take control of their well-being<br> through monitoring, motivation and meaningful support</h4>
      <div class="image-box">
        <img src="/images/male-doctor-female-patient-holding-600nw-2758428341.webp" class="about-photo">
        <div class="about-info">
          <div class="about-info-item">
            <img src="/images/mission.png">
            <div>
              <h3>Our mission</h3>
              <p>Empower people to understand their health and improve their daily lives</p>
            </div>

          </div >
          <div class="about-info-item">
            <img src="/images/weare.png">
            <div>
              <h3> Who we are</h3>
              <p> A team of healthcare and technology enthusiasts working together to build tools that make a difference</p>
            </div>

          </div>
          <div class="about-info-item">
            <img src="/images/privacy.png">
            <div>
              <h3> We care about your date</h3>
              <p> Your privacy and security are our top priorities</p>
            </div>


          </div>


        </div>
      </div>
      <h3 class="header">Our values</h3>
      <h2 class="section-title"> 🤎 </h2>
      <div class="values">
        <div class="values-item">
          <img src="/images/candado2.png" class="value-icon">
          <div>
            <h3>Privacy first</h3>
            <p> Your data is secure, private and only shared with your consent</p>
          </div>

        </div>
        <div class="values-item">
          <img src="/images/user_aboutus.png" class="value-icon">
          <div>
            <h3>Patient-centered</h3>
            <p> We focus on what really matters; your well-being and your goals </p>
          </div>

        </div>
        <div class="values-item">
          <img src="/images/monitoring.png" class="value-icon">
          <div>
            <h3>Continuous improvement</h3>
            <p> We constantly evolve to offer you the best experience </p>
          </div>

        </div>
        <div class="values-item">
          <img src="/images/empathy.png" class="value-icon">
          <div>
            <h3>Empathy & Support</h3>
            <p> We are here to support you every step of the way</p>
          </div>
        </div>
        </div>
      </div>
    </div>


  <img src="/images/logo2.png" class="logo">
  <div class="top">
    <a href="/login" class="getStarted" > Get started</a>
    <a href="/register" class="signin"> Sign in</a>
  </div>
  <div class="top2">
    <a href="/frontPage"> Home </a>
    <a href="/about_us"> About us</a>
    <a href="/how_works"> How does it work</a>
  </div>

</article>

</body>
</html>