<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
  <link rel="stylesheet" href="/images/main1.css">
</head>
<body>

<article id="background">
  <form action="forgot_password" method="post" class="auth-form">
    <section class="login">
      <h1 class="header-login">Forgot password<br> Enter your email address</h1>
      <label >Email<br></label>
      <input type="email" name="email" class="login-button" required>

      <button type="submit" class="submit-login">Continue</button>
      <a href="login" class="submit-login">Back to log in</a>
    </section>

  </form>

  <img src="/images/logo2.png" class="logo">
</article>

</body>
</html>