<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chronic Disease Management Platform</title>
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>
<article id="background">

    <header class="header">
        <h1>Chronic Disease Management Platform</h1>
        <h2>
            A web-based platform designed to monitor health parameters, improve adherence,
            <br>and increase patient engagement through gamification strategies.
        </h2>
    </header>
<div class="top-buttons">
        <a href="/login" class="button-lr" >Log in</a>
            <a href="/register" class="button-lr">Register</a>
</div>



    <section>
        <h2>Track your wellbeing</h2>
        <p>Patients can submit daily reports and monitor their progress over time.</p>
    </section>

    <footer>
        <a href="mailto:masevilla@gmail.com">Contact me here</a>
    </footer>

</article>
</body>
</html>