<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chronic Disease Management Platform</title>
    <link rel="stylesheet" href="/images/main.css">
</head>
<body>
<article id="background">
    <div class="main-square">
        <div class="frontpage">
            <header class="header" >
                <h1 class="fade-in delay1">CareTrack, your health, in one place</h1>
            </header>
            <div class="fade-in delay2">
                <h2 class="header3">Track symptoms, stay consistent, earn rewards  </h2>
            </div>
            <div class="fade-in delay3">
                <div class="top-buttons">
                    <a href="/login" class="button-lrStarted" > Get started</a>
                    <a href="/register" class="button-lr"> Sign in</a>
                </div>
                <h2 class="section-title"> 🤎 </h2>
                <div class="bottom">
                    <div class="bottom-info">
                        <img src="/images/calendario.png" class="icon-frontpage">
                        <p >Daily reports <br> Quick check</p>
                    </div>
                    <div class="bottom-info">
                        <img src="/images/medalla2.png" class="icon-frontpage">
                        <p>Achievements<br> Stay motivated</p>
                    </div>
                    <div class="bottom-info">
                        <img src="/images/progress.png" class="icon-frontpage">
                        <p >Progress<br> See trends</p>
                    </div>

                </div>
            </div>


        </div>
    </div>


    <footer class="footer">
        <a href="mailto:masevilla@gmail.com"><img src="/images/email.png" class="email"/></a>

    </footer>
    <img src="/images/logo2.png" class="logo">
    <div class="top">
        <a href="/login" class="getStarted" > Get started</a>
        <a href="/register" class="signin"> Sign in</a>
    </div>
    <div class="top2">
        <p> About us</p>
        <p> How does it work</p>
    </div>

</article>
</body>
</html>