<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css"/>

</head>
<body>
    <article id="background">

    <header class="text">
        <h1>Chronic Disease Management Platform</h1>
        <h2>A web-based platform designed to monitor health parameters, improve adherence,
            <br>and increase patient engagement through gamification strategies.</h2>
        <a  class= "button" href="/login">Log in</a>
        <a  class= "button" href="/register">Register </a>
    </header>


    <section>
        <arcticle>
            <h2> Track your wellbeing</h2>
            <p> Patients can submit daily reports and monitor theri porgress over time </p>
        </arcticle>
    </section>
    <footer>
        <a href="mailto:masevilla@gmail.com">contactame aqui</a>
    </footer>
    </article>

</body>
</html>