<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How does it work</title>
    <link rel="stylesheet" href="/images/main.css">
</head>
<body>
<article id="background">
    <div class="main-square">
        <div class="frontpage">
            <header class="header" >
                <h2 class="fade-in delay1">How does it work</h2>
            </header>
            <h2 class="section-title"> 🤎 </h2>
            <h4 class="text">CareTrack makes it simple to monitor your well-being and<br> stay motivated every day</h4>
            <div class="steps">
                <div class="item">
                    <img src="/images/user_aboutus.png" class="item-icon">
                    <h3>Create your account</h3>
                    <p> Sign up and create your personalized profile </p>
                </div>
                <div class="item">
                    <img src="/images/mission.png" class="item-icon">
                    <h3>Track your health</h3>
                    <p> Log your mood, medication and daily well-being in just a few steps</p>
                </div>
                <div class="item">
                    <img src="/images/monitoring.png" class="item-icon">
                    <h3>See your progress</h3>
                    <p> View charts to understand your trends over time</p>
                </div>
                <div class="item">
                    <img>
                    <h3>Stay motivated</h3>
                    <p> Earn achievements and keep building healthy habits over time</p>
                </div>
                <div class="item">
                    <img>
                    <h3>Receive support</h3>
                    <p> Receive recommendations when you need extra support</p>
                </div>
            </div>
        </div>


    </div>


    <img src="/images/logo2.png" class="logo">
    <div class="top">
        <a href="/login" class="getStarted" > Get started</a>
        <a href="/register" class="signin"> Sign in</a>
    </div>
    <div class="top2">
        <a href="/frontPage"> Home </a>
        <a href="/about_us"> About us</a>
        <a href="/how_works"> How does it work</a>
    </div>
</article>
</body>
</html>