<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Healthcare Professional dashboard</title>
    <link rel="stylesheet" href="/images/dashboard_hp1.css">
</head>
<body>
<article id="background">
    <div class="healthcare">
            <h1 class="header">Welcome back, Doctor <span th:text="${name}"></span>!</h1>
            <h2 class="header3"> List of available patients. Select a patient to view. </h2>

                <div class="pdash_buttons">
                    <div class="info-patient" th:each="patient: ${Patientlist}">
                        <p> <span th:text="${patient.getName()} " ></span> <span th:text="${ patient.getSurname()}" ></span></p>
                        <p> <span th:text="${patient.getChronic_condition()}" ></span></p>
                        <form action="/select_patient" method="post">
                            <input type="hidden" name="patient_id" th:value="${patient.getId()}">
                            <input type="hidden" name="assign" value="true">
                                <button type="submit" class="select-patinent"> View Patient</button>

                        </form>

                    </div>

                </div>



    </div>


    <div class="top">
        <span  th:text="${name}" class="name"></span>
        <a href="/logout" class="logout">| Log out</a>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta.png" class="icono1">


</article>


</body>
</html>