<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Well-being Platform</title>
</head>
<body>
    <h1> Welcome to the Well-being Platform</h1>
    <p>Daily tracking of pain, mood, and medication adherence.</p>
    <hr>
    <h2>otro titulo</h2>
    <p> este texto es muy largo y quiero destacar <span style="color:blue"> algo</span> quiero
        un salto de linea<br> ahora
    </p> <!--para poder destacar algo y luego referenciarlo-->
    <a target="_blanck" href="https://www.google.com">ir a google </a> <!--hipervinculo, para poder ir a otro sitio o dentro de la pagina web mismo,y target blank para que se abra en otra pestaña-->
    <img src="../static/images/prueba.png" width="400" /> <!--tambien puedes height-->
    <form action="/formulario" method="post">
        <label for="nombre"> Nombre</label>
        <input type="text"id="nombre" name="nombre" placeholder="Nombre"/><!--para que cuando pinches nombre el foco se va a la caja tambien, placheholder para indicar dentro de la caja lo que tiene que ir-->
        <label for="apellido"> Apellido</label>
        <input type="text"id="apellido" name="apellido" placeholder="apellido"/>
        <br>
        <label for="comentario">comentario</label>
        <textarea cols="50" rows="10"id="comentario" placeholder="ingrese comentario" name="comentario"></textarea>
        <br>
        <input type="submit" />
        <!--type= password o email o radio o checkbox o file-->
    </form>
    <!--para que todo se vaya a algun sitio en el form tiene que estar action ="
    </body>
    </html>
