<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/images/main.css">
</head>
<body>
<article id="background">

        <form action="/login" method="post" class="auth-form">
            <section class="login">
                <img src="/images/silueta.png" class="perfil">
                <h1 class="header-login">Welcome back! </h1>
                <h3 class="minitext">Sign in to continue</h3>
                <label >Email<br></label>
                <input type="email" name="email" class="login-button" required>

                <label>Password <br></label>
                <input type="password" name="password" class="login-button"  required>
                <a href="/forgot_password" class="forgot-password" style="color: black"> <strong><span  style="color: #69443c" >Forgot password? </span></strong></a>
                <p th:if="${error}" th:text="${error}" class="error-message"></p>

                <button type="submit" class="submit-login">Log in</button>

                <a href="/register" class="acount"> You don't have an account?<strong><span  style="color: #69443c" >Create account</span></strong> </a>
            </section>
        </form>

    <img src="/images/logo2.png" class="logo">
    <div class="top2">
        <a href="/frontPage"> Home </a>
        <a href="/about_us"> About us</a>
        <a href="/how_works"> How does it work</a>

    </div>
</article>
</body>
</html>