<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>
<article id="background">





<form action="/login" method="post">
    <section class="login">
        <h1 class="header-login">Welcome back !<br> Log in</h1>
    <label >Email<br></label>
    <input type="email" name="email" class="login-button" required>

    <label>Password <br></label>
    <input type="password" name="password" class="login-button"  required>

    <button type="submit" class="submit-login">Log in</button>
    </section>
</form>
    <img src="/images/silueta.png" class="perfil">

<a href="/register" class="acount"> You don't have an account? Create account</a>
</article>
</body>
</html>