<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/images/main.css">
</head>
<body>
<article id="background">
        <img src="/images/silueta.png" class="perfil">
        <form action="/login" method="post" class="auth-form">
            <section class="login">
                <h1 class="header-login">Welcome back !<br> Sign in to continue</h1>
                <label >Email<br></label>
                <input type="email" name="email" class="login-button" required>

                <label>Password <br></label>
                <input type="password" name="password" class="login-button"  required>

                <button type="submit" class="submit-login">Log in</button>
            </section>
        </form>
        <a href="/register" class="acount"> You don't have an account? <span  style="color: #69443c" >Create account</span></a>
    <img src="/images/logo2.png" class="logo">
</article>
</body>
</html>