<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient progress</title>
    <link rel="stylesheet" href="/images/dashboard_pat.css">
</head>
<body>
<article id="background">
    <div class="progress">
        <form action="/patient_progress" method="get">
        <h1 class="header_progress"> Your progress over time </h1>
        <h2 class="header3_progress"> Track your daily reports, mood and medication adherence</h2>
            <div class="progress-row">
            <p class="box-progress"><span th:text="${Totalreports}"></span><br>Reports submitted</p>
            <p class="box-progress"><span th:text="${Averagemood}+ '/5'"></span><br>Average mood</p>
            <p class="box-progress"><span th:text="${Averagemedicationtaken}"></span><br>Medication adherence</p>
            </div>
            <div class="range-button">
                <button type="button" onclick="updateChart('days')"> Days</button>
                <button type="button" onclick="updateChart('weeks')"> Weeks</button>
                <button type="button" onclick="updateChart('months')"> Months</button>
            </div>
        </form>
    </div>
    <div class="top">
        <span  th:text="${name}" class="name"></span>
        <a href="/logout" class="logout">| Log out</a>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta.png" class="icono1">
</article>

</body>
</html>