<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient gamification</title>
    <link rel="stylesheet" href="/images/dashboard_pa.css">
</head>
<body>
<article id="background">
    <div class="gamification">
        <form action="/patient_gamification" method="get">
            <h1 class="header_progress"> Your gamification status </h1>
            <h2 class="header3"> Track your points and progress</h2>
            <div class="gamification-row">

                <div class="stat-card">
                    <img src="/images/estrella.png" alt="Points icon" class="stat-icon">
                    <span class="stat-value" th:text="${points}"></span>
                    <span class="stat-label">Current points</span>
                </div>

                <div class="stat-card">
                    <img src="/images/fuego.png" alt="Streak icon" class="stat-icon">
                    <span class="stat-value" th:text="${streakdays}"></span>
                    <span class="stat-label">Streak days</span>
                </div>

            </div>
            <h3 class="nextachiev"> Next achievement</h3>
            <div class="nextAchievement">
                <img src="/images/medalla.png" class="medalla">
                <div class="achiev-info">
                    <h3 class="achiev1"> <span th:text="${nextachievement.getName()}"></span></h3>
                    <p class="achiev2"> <span th:text="${nextachievement.getDescription()}"></span> to unlock this badge </p>
                    <p > Reward: <span th:text="${nextachievement.getPoints_reward()}"></span>points</p>
                </div>

            </div>
                <a href="/patient_dashboard" class="return_dashboard">Back to dashboard</a>



        </form>
    </div>
    <div class="top">
        <a href="/patient_profile" th:text="${name}" class="name"></a>
        <a href="/logout" class="logout">| Log out</a>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta.png" class="icono1">

</article>
</body>
</html>