<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient achievements</title>
    <link rel="stylesheet" href="/images/dashboard_pat.css">
</head>
<body>
<article id="background">
    <div class="achievements">
        <form action="patient_achievements" method="get">
            <h1 class="header_progress"> Your achievements</h1>
            <h2 class="header3"> Unlock rewards by staying consistent with your reports</h2>
            <div class="achievements-summary">
                <div class="summary">
                    <img src="/images/trofeo_summary.png" class="icon">
                    <p class="summary-number" ><span th:text="${points}"></span></p><br>
                    <p class="summary-number">Total points</p>
                </div>
                <div class="summary">
                    <img src="/images/unlocked.png" class="icon">
                    <p class="summary-number" th:text="${unlockedAchievementssize}" ></p>
                    <p class="summary-number">Unlocked</p>
                </div>
            </div>
            <div class="achievements-scroll">
                <div class="unlocked_achievements">
                    <h3 class="unlocked"> ✔ Unlocked badges</h3>
                    <div>
                        <div th:each="a : ${unlockedAchievements}" class="achievements-box-unlocked">
                            <img src="/images/trofeo.png" class="icon">
                            <div class="achievement-info">
                                <p class="achievement-name"> <span th:text="${a.name}" ></span></p>
                                <p class="achievement-points" th:text="${a.points_reward} + ' points'"></p>

                            </div>



                        </div>
                    </div>

                </div>
                <div class="locked_achievements">
                    <h3 class="locked"> 🔒 Locked badges</h3>
                    <div>
                        <div th:each="a : ${lockedAchievements}" class="achievements-box">
                            <img src="/images/locked.png" class="icon">
                            <div class="achievement-info">
                                <p class="achievement-name"> <span th:text="${a.name}"></span></p>
                                <p class="achievement-points" th:text="${a.points_reward} + ' points'"></p>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <a href="/patient_dashboard" class="return_dashboard_achievements">Back to dashboard</a>
        </form>

    </div>
    <div class="top">
        <a href="/patient_profile" th:text="${name}" class="name"></a>
        <a href="/logout" class="logout">| [-> Log out</a>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta2.png" class="icono1">
    <div class="top2">
        <a href="/frontPage"> Home </a>
        <a href="/about_us"> About us</a>
        <a href="/how_works"> How does it work</a>
    </div>
</article>


</body>
</html>