<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="/images/dashboard.css">
</head>
<body>
<article id="background">
    <div class="patient" >
        <form action="/patient_dashboard" method="get">
            <h1 class="header">Welcome back,<span th:text="${name}"></span></h1>
            <h2 class="header3"> Below you can find several options. <br>Please choose what you want to do! </h2>
            <section class="pdash_buttons">
                <a href="/daily_reports" class="option-patient">  📝 Complete the Daily well-being report</a>
                <a href="/patient_progress" class="option-patient">  📈 View your progress over time
                </a>
                <a href="/patient_gamification" class="option-patient">⭐ View your current gamification status
                </a>
                <button class="option-patient"> 🏆Receive an achievement notification</button>
            </section>
        </form>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta.png" class="icono1">
<!--añadir luego como quiero que sea mi boton -->

</article>

</body>
</html>