<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>
</head>
<body>
<h1>Welcome to the Patient Dashboard !</h1>
<h2> Below you can find several options. <br>Please choose what you want to do! </h2>

    <a href="/daily_reports"><button>Complete the Daily well-being report</button><br>
    </a>
<!--añadir luego como quiero que sea mi boton -->

    <a href="/patient_progress"><button>View your progress over time </button><br>
    </a>

    <a href="/patient_gamification"><button>View your current gamification status </button><br>
    </a>

    <button>Receive an achievement notification</button>


</body>
</html>