<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient alerts</title>
    <link rel="stylesheet" href="/images/dashboard_hp.css">
</head>
<body>
<article id="background">
    <div class="review-reports">
        <h1 class="title-section">PATIENT ALERTS</h1>
        <h3 class="alerts-description">  Alerts are triggered when low mood or missed medication is detected</h3>
        <div class="structured-boxes">
            <h4 class="table2"><strong>Total alerts:<br> </strong><span th:text="${totalalerts}"></span></h4>
            <h4 class="table2"><strong>Active alerts: <br></strong><span th:text="${alertsactive}"></span></h4>
            <h4 class="table2"><strong>Resolved alerts: <br></strong><span th:text="${resolvedalerts}"></span></h4>
        </div>

        <table class="reports-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Alert type</th>
                <th>Message</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
            </thead>

            <tbody>
            <tr th:if="${#lists.isEmpty(alertsList)}">
                <td colspan="4">No alerts available for this patient.</td>
            </tr>
            <tr th:each="alert : ${alertsList}">
                <td th:text="${alert.getDate()}"></td>
                <td th:switch="${alert.type}">
                    <span th:case="'LOW_MOOD'">⚠ Low mood</span>
                    <span th:case="'NO_MEDICATION'">💊 No medication taken</span>
                    <span th:case="'MISSED_REPORTS'"> 📝 Missed reports</span>
                    <span th:case="*" th:text="${alert.type}"></span>
                </td>
                <td th:text="${alert.getMessage()}"></td>
                <td th:text="${alert.getResolved() == 1 ? 'Resolved' : 'Active'}"></td>
                <td>
                    <form th:if="${alert.resolved == 0}" action="/resolve_alert" method="post">
                        <input type="hidden" name="alert_id" th:value="${alert.getId()}">
                        <input type="hidden" name="patient_id" th:value="${patient_id}">
                        <button type="submit" class="resolve-btn">Resolve</button>
                    </form>

                    <span th:if="${alert.resolved == 1}">—</span>
                </td>


            </tr>
            </tbody>
        </table>
        <a class="return_dashboard" th:href="@{/view_patient(patient_id=${patient_id})}"> <- Back </a>
    </div>


    <div class="top">
        <span  th:text="${name}" class="name"></span>
        <a href="/logout" class="logout">| Log out</a>
    </div>
    <img src="/images/logo2.png" class="logo">
    <img src="/images/silueta.png" class="icono1">
</article>
</body>
