<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient profile</title>
    <link rel="stylesheet" href="/images/dashboard_pa.css">
</head>
<body>
<article id="background">
    <div class="container">
        <div class="left-box">
            <div class="fade-in delay1">
                <div class="register-left">
                    <div class="avatar-letter" th:text="${name.substring(0,1).toUpperCase()}"></div>
                    <h2 class="myprofile"><span th:text="${name}" ></span></h2>
                    <div class="buttons-myprofile">
                        <a href="patient_dashboard" class="button-profile">Back</a>
                        <a href="edit_profile" class="button-profile">Edit profile</a>
                    </div>

                </div>
            </div>
        </div>

    <div class="profile-box">
        <h2>My profile</h2>
        <p><strong>Name:</strong> <span th:text="${name}" ></span></p>
        <p><strong>Surname:</strong> <span th:text="${surname}" ></span></p>
        <p><strong>Date of birth: </strong><span th:text="${date_of_birth}" ></span></p>
        <p><strong>Chronic condition:</strong> <span th:text="${chronic_condition}" ></span></p>
        <p><strong>Diagnosis date: </strong><span th:text="${diagnosis_date}" ></span></p>


    </div>
    </div>
    <img src="/images/logo2.png" class="logo">
</article>

</body>
</html>