<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>progress of patient</title>
  <link rel="stylesheet" href="/images/dashboard_hp.css">
</head>
<body>
<article id="background">
  <div class="progress">
    <form action="/progress" method="get">
      <h1 class="header_progress"> Patient progress over time </h1>
      <h2 class="header3_progress"> Track  daily reports, mood and medication adherence</h2>
      <div class="progress-row">
        <p class="box-progress"><span th:text="${Totalreports}"></span><br>Reports submitted</p>
        <p class="box-progress"><span th:text="${Averagemood}+ '/5'"></span><br>Average mood</p>
        <p class="box-progress"><span th:text="${Averagemedicationtaken}"></span><br>Medication adherence</p>
      </div>
      <h2 class="header3_progress">Mood chart </h2>
      <div class="range-button">
        <button type="button" class="button-chart" onclick="updateChart('days')"> Days</button>
        <button type="button" class="button-chart" onclick="updateChart('weeks')"> Weeks</button>
        <button type="button" class="button-chart" onclick="updateChart('months')"> Months <br></button>
      </div>


      <div class=" chart">
        <canvas id="moodChart"></canvas>

      </div>
      <a class="return_dashboard" th:href="@{/view_patient(patient_id=${patient_id})}"> <- Back </a>
    </form>

  </div>
  <div class="top">
    <span  th:text="${name}" class="name"></span>
    <a href="/logout" class="logout">| Log out</a>
  </div>
  <img src="/images/logo2.png" class="logo">
  <img src="/images/silueta.png" class="icono1">
</article>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
  const chartData = {
    days: {
      labels: [[${dayslabels}]],
      values: [[${daysvalues}]]
    },
    weeks: {
      labels: [[${weekslabels}]],
      values: [[${weeksvalues}]]
    },
    months: {
      labels: [[${monthslabels}]],
      values: [[${monthsvalues}]]
    }
  };

  const ctx = document.getElementById('moodChart').getContext('2d');

  let moodChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: chartData.days.labels,
      datasets: [{
        label: 'Mood',
        data: chartData.days.values,
        borderWidth: 2,
        tension: 0.3
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          min: 1,
          max: 5,
          ticks: {
            stepSize: 1
          }
        }
      }
    }
  });

  function updateChart(range) {
    moodChart.data.labels = chartData[range].labels;
    moodChart.data.datasets[0].data = chartData[range].values;
    moodChart.update();
  }
</script>

</body>
</html>