<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/register" method="post">
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Surname</label>
    <input type="text" name="surname" required>

    <label>Date of birth</label>
    <input type="text" name="date_of_birth" required>

    <label>Chronic condition</label>
    <input type="text" name="chronic_condition" required>

    <label>Diagnosis date</label>
    <input type="text" name="diagnosis_date" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>


    <button type="submit">Register</button>
</form>

</body>
</html>