<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/images/main1.css">
</head>
<body>
<article id="background">
<form action="/register" method="post" class="auth-form">

    <section class="register-box">
        <h1 class="header-login">Create an account</h1>
    <label>Name</label>
    <input type="text" name="name" class="register-button" required >

    <label>Surname</label>
    <input type="text" name="surname" class="register-button" required >

    <label>Date of birth</label>
    <input type="text" name="date_of_birth"  class="register-button" required >

    <label>Chronic condition</label>
    <input type="text" name="chronic_condition"  class="register-button" required >

    <label>Diagnosis date</label>
    <input type="text" name="diagnosis_date"  class="register-button" required >

    <label>Email</label>
    <input type="email" name="email"  class="register-button" required >

    <label>Password</label>
    <input type="password" name="password" class="register-button" required >


    <button type="submit" class="submit-login">Register</button>
    </section>
</form>
    <img src="/images/logo2.png" class="logo">
</article>

</body>
</html>