<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="/images/main1.css">
</head>
<body>
<article id="background">
    <form action="reset_password" method="post" class="auth-form">
        <section class="login">
            <h1 class="header-login">Reset password</h1>
            <label >New password<br></label>
            <input type="password" name="password" class="login-button"  required>

            <label >Confirm password<br></label>
            <input type="password" name="confirmPassword" class="login-button"  required>

            <button class="submit-login" >Save new password </button>
            <a href="forgot_password" class="submit-login">Cancel</a>
        </section>

    </form>



    <img src="/images/logo2.png" class="logo">
</article>
</body>
</html>