
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Italiana&family=Playwrite+CU+Guides&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
.header {
    color: #69443c;
    font-family: "Italiana", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    text-align: center;


}
.header3{
    color: #69443c;
    font-family: "Italiana", sans-serif;
    font-size: 30px;
    text-align: center;
    top: 260px;
}

#background {
    background-image: url("wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}
#background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 6px 25px rgba(105, 68, 60, 0.08);

    z-index: 1;
}


.button-lr{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding: 16px 30px;
    margin: 10px;
    background-color: white;
    color: #8c7d7c;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;


}
.button-lr:hover {
    background-color: #8c7d7c;
    color: white;
}
.top-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}
.footer{
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.email{
    width: 65px;
}
.email:hover{
    border-radius: 8px;
    background-color: white;
    color: white;
}
.frontpage{
    text-align: center;
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

}
.logo{
    position: absolute;
    top: 0px;
    left: 30px;
    width: 150px;
    z-index: 2;
}
.top{
    position: absolute;
    top: 50px;
    right: 140px;
    align-items: center;
    z-index: 2;

}
.header-login{
    color: #69443c;
    font-family: "Italiana", sans-serif;
    text-align: center;
    top: 250px;
    font-size: 30px;
    margin-bottom: 15px;
}
.login-button{
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    padding:10px 10px;
}
.submit-login{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    color: #8c7d7c;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.submit-login:hover{
    background-color: #8c7d7c;
    color: white;

}
.perfil{
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 80px;
    border-color: #69443c;
    position: absolute;
    width: 90px;
    left: 46.5%;
    top: 100px;

}
.acount{
    display: block;
    margin-top: 18px;
    text-align: center;
    font-size: 15px;
    color: black;

}
.forgot-password{
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 18px;
    text-align: left;
    font-size: 20px;

}

.register-button{
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    padding:10px 10px;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: rgba(255, 255, 255, 0.88);
    padding: 30px;
    border-radius: 20px;
    width: 400px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

    font-family: "Alumni Sans Pinstripe", sans-serif;
    color: #69443c;
    font-size: 24px;
}
.auth-form{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box{
    display: flex;
    flex-direction: column;
    gap: 8px;

    background: rgba(255, 255, 255, 0.88);
    padding: 24px 80px;
    border-radius: 20px;

    width: 380px;
    max-width: 90%;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

    font-family: "Alumni Sans Pinstripe", sans-serif;
    color: #69443c;
    font-size: 18px;
}

.logo{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 240px;

}
.bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    width: 820px;
    max-width: 90%;
    margin: 40px auto 0 auto;
}
.bottom-info{
    background: rgba(154, 114, 105, 0.35);
    border-radius: 18px;
    padding: 18px 20px;
    text-align: center;
    color: #3f2a25;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 800;
    font-family: "Alumni Sans Pinstripe", sans-serif;

}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.delay1 { animation-delay: 0.2s; }
.delay2 { animation-delay: 0.4s; }
.delay3 { animation-delay: 0.6s; }
.row{
    display: flex;
    gap: 15px;
    flex: 1;
}
.header3-register{
    color: #69443c;
    font-family: "Italiana", sans-serif;
    font-size: 20px;
    text-align: center;
    top: 260px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.left-box{
    display: flex;
    flex-direction: column;
    gap: 4px;

    background: rgba(154, 114, 105, 0.35);
    padding: 40px;
    border-radius: 20px;

    width: 380px;
    max-width: 90%;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    justify-content: center; /*centra verticalmente*/
    align-items: center; /*horizontalmente*/
    text-align: center;
}
.img{
    width: 450px;
}
.register-left{
    display: flex;
    justify-content: center;
}
.question{
    color: #3f2a25;
    font-size: 18px;
    text-decoration: none;
    margin-top: 0px;
}
.Signin{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 18px;
    font-weight: 800;
    padding: 16px 16px;
    margin: 10px;
    background-color: white;
    color: #4B2D26;
    border-color: #4B2D26;
    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}